.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 50px;

    background:#101827;

    position:sticky;
    top:0;
    z-index:1000;

    box-shadow:0 3px 15px rgba(0,0,0,.25);
}

.logo{
    color:#39b7ff;
    font-size:32px;
    font-weight:700;
    letter-spacing:1px;
}

.nav-links{
    display:flex;
    align-items:center;
    gap:25px;
    list-style:none;
}

.nav-links a{
    text-decoration:none;
    color:white;

    font-size:17px;
    font-weight:500;

    transition:.3s;
}

.nav-links a:hover{
    color:#39b7ff;
}

.active-link{
    color:#39b7ff !important;

    font-weight:700;

    border-bottom:2px solid #39b7ff;

    padding-bottom:4px;
}

.dashboard-btn{

    background:#39b7ff;

    color:white !important;

    padding:10px 18px;

    border-radius:8px;

    font-weight:600;

    border:none;

    transition:.3s;
}

.dashboard-btn:hover{

    background:#219ce4;

    transform:translateY(-2px);

    box-shadow:0 8px 20px rgba(57,183,255,.35);
}

.dashboard-active{

    background:#1f8fd1;

    border:none !important;

    color:white !important;
}