.navbar{

    position:sticky;
    top:0;
    z-index:1000;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 60px;

    background:rgba(10,15,30,.82);

    backdrop-filter:blur(18px);

    border-bottom:1px solid rgba(255,255,255,.08);

    box-shadow:0 10px 30px rgba(0,0,0,.25);
}

.logo{

    display:flex;
    align-items:center;

    gap:12px;

    cursor:pointer;
}

.logo-icon{

    font-size:28px;
}

.logo-text{

    color:#46c7ff;

    font-size:30px;

    font-weight:700;

    letter-spacing:1px;
}

.nav-links{

    display:flex;

    align-items:center;

    gap:30px;

    list-style:none;
}

.nav-links a{

    color:#d8e4ff;

    text-decoration:none;

    font-size:16px;

    font-weight:500;

    transition:.25s ease;
}

.nav-links a:hover{

    color:#46c7ff;

    transform:translateY(-1px);
}

.active-link{

    color:#46c7ff !important;

    border-bottom:2px solid #46c7ff;

    padding-bottom:5px;

    font-weight:700;
}

.dashboard-btn{

    background:linear-gradient(135deg,#39b7ff,#0077ff);

    color:white !important;

    padding:11px 22px;

    border-radius:12px;

    font-weight:600;

    transition:.25s ease;

    box-shadow:0 8px 25px rgba(0,136,255,.25);
}

.dashboard-btn:hover{

    transform:translateY(-3px);

    box-shadow:0 14px 30px rgba(0,136,255,.45);
}

.dashboard-active{

    color:white !important;

    border:none !important;
}